/.target/com/olimpo/dao/AdminDAO.class
/.target/com/olimpo/util/Utils.class
/.target/com/olimpo/db/DbManager.class
/.target/com/olimpo/exceptions/DbLoginException.class
/.target/com/olimpo/models/BasicObject.class
/doc/Packtpub.Learning.Play.Framework.2.Mar.2013.pdf
/doc/documentation.txt
/.target/com/olimpo/models/Plugin.class
/doc/git_command.txt
/.target/ApplicationTest.class
/.target/IntegrationTest$1.class
/.target/IntegrationTest.class
/.target/com/olimpo/controllers/Application.class
/.target/com/olimpo/models/Admin.class
/.target/com/olimpo/models/Project.class
/.target/views/index.scala.html
/.target/views/main.scala.html
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
